.login-body-container{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}

.login-form-container{
    float: left;
    width: 50%;
    background-color: #783c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.login-form-container h1{
    font-size: 50px;
}
.login-form-container h3{
    font-size: 24px;
}
.login-link{
    color: aqua;
    padding-left: 20px;
}

.login-image-container{
    float: right;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 300px;
    padding: 40px;
    justify-content: space-between;
    height: 150px;
}

.login-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

